---
const projects = [
  {
    title: 'Aplicación móvil para el control de asistencia y calificaciones',
    description:
      'Aplicación móvil para docentes que automatiza el control de asistencia, gestión de calificaciones, generación de reportes y visualización de estadísticas académicas en tiempo real.',
    tags: ['Android', 'Kotlin', 'Jetpack Compose', 'Firebase'],
    codeUrl: '#',
    previewUrl: '#',
    img: '/images/projects/project-1.webp',
  },
  {
    title: 'Sistema web para la predicción de Diabetes Mellitus Tipo 2',
    description:
      'Plataforma web basada en Machine Learning que permite estimar el riesgo de diabetes tipo 2 a partir de parámetros clínicos. El sistema integra un modelo Random Forest, dashboards interactivos, visualización de tendencias y funcionalidades para el análisis de predicciones, ofreciendo una experiencia clara para la interpretación de resultados.',
    tags: ['React', 'Flask', 'Tailwind CSS', 'scikit-learn', 'PostgreSQL'],
    codeUrl: '#',
    previewUrl: '#',
    img: '/images/projects/project-2.webp',
  },
  {
    title: 'Aplicación móvil para la reserva de habitaciones en Hotel Boulevard',
    description:
      'Aplicación móvil diseñada para modernizar el proceso de reserva de habitaciones de un hotel. Permite a los usuarios consultar disponibilidad, registrar sus datos y confirmar reservas de manera rápida, manteniendo la información centralizada mediante autenticación y sincronización en la nube.',
    tags: ['Kotlin', 'Android', 'Firebase'],
    codeUrl: '#',
    previewUrl: '#',
    img: '/images/projects/project-3.webp',
  },
];
---

<section class="projects-section" aria-labelledby="projects-title">
  <div class="section-heading">
    <span class="section-heading__icon projects-heading-icon" aria-hidden="true">
      <svg viewBox="0 0 24 24" fill="none">
        <path d="M8 8 4 12l4 4" />
        <path d="M16 8l4 4-4 4" />
        <path d="m14 5-4 14" />
      </svg>
    </span>
    <h2 id="projects-title">Proyectos</h2>
  </div>

  <div class="projects-list">
    {
      projects.map((project) => (
        <article class="project-card">
          <div class="project-preview" aria-hidden="true">
            <img src={project.img} alt={project.title} loading="lazy" />
          </div>

          <div class="project-info">
            <h3>{project.title}</h3>

            <div class="project-tags" aria-label="Tecnologías usadas">
              {project.tags.map((tag) => <span>{tag}</span>)}
            </div>

            <p>{project.description}</p>

            
          </div>
        </article>
      ))
    }
  </div>
</section>
